{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
function makeClock() {
    var nowTime = new Date();
    var nowHour = nowTime.getHours();
    if (nowHour<10){nowHour = '0' + nowHour;}
    var nowMin = nowTime.getMinutes();
    if (nowMin<10){nowMin = '0' + nowMin;}
    var nowSec = nowTime.getSeconds();
    if (nowSec<10){nowSec = '0' + nowSec;}
    var msg = nowHour + ":" + nowMin + ":" + nowSec;
    return msg
}
function showClock() {
   document.getElementById("RealtimeClockArea").innerHTML = makeClock();
}
setInterval('showClock()',1000);
</script>
<table border="0">
    <tr>
        <td></td>
    </tr>
    <tr>
        <td rowspan="3">
          <img src="{{icon}}" width="256" /><br />
        </td>
        <td>
          {{day}}の天気<br />
          {{telop}}<br />
          {% if tempeMax %}
              最高気温：&nbsp;{{tempeMax}}<br />
          {% endif %}
          {% if tempeMin %}
              最低気温：&nbsp;{{tempeMin}}<br />
          {% endif %}
        <td>
        <p id="RealtimeClockArea"><script type="text/javascript">document.write(makeClock());</script></p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
          {{message}}
        </td>
    {% if train %}
    <tr>
        <td>
          <img src="/static/info.png" width="256" />
        </td>
        <td>
          {{train}}<br />
        </td>
    </tr>
    {% endif %}
</table>
{% endblock %}